# Mon 1er Notebook

In [11]:
print("Hello World!")

Hello World!

In [8]:
import pandas as pd

In [18]:
data = pd.read_csv("/Users/edwinzami/Documents/GitHub/API-FLASK/dataset.csv")

In [19]:
data.head()

,FacilityID,URL,Name,FacilityType,Address1,Town,State,AddressNote,Latitude,Longitude,...,Ambulant,Accessible,LHTransfer,RHTransfer,ToiletNote,SharpsDisposal,DrinkingWater,SanitaryDisposal,MensPadDisposal,Shower
0,1,https://toiletmap.gov.au/facility/1,Sandy Beach Reserve,Park or reserve,"Lost 15525, West Road",Bassendean,WA,NaN,-31.921836,115.950206,...,False,True,False,False,NaN,True,True,True,False,False
1,2,https://toiletmap.gov.au/facility/2,Point Reserve,Park or reserve,"Lot 197, North Road",Bassendean,WA,NaN,-31.904410,115.960991,...,False,True,False,False,NaN,True,True,True,False,False
2,3,https://toiletmap.gov.au/facility/3,Success Hill Reserve,Park or reserve,"Lot 2838, Seventh Avenue",Bassendean,WA,NaN,-31.896289,115.955781,...,False,True,False,False,NaN,True,True,True,False,True
3,4,https://toiletmap.gov.au/facility/4,Jubilee Reserve,Park or reserve,"Lot 6322, Robinson Road",Eden Hill,WA,NaN,-31.891474,115.940164,...,False,False,False,False,NaN,True,False,True,False,False
4,5,https://toiletmap.gov.au/facility/5,Ashfield Reserve,Park or reserve,"Lot 12061, 2 Coulston Road",Ashfield,WA,NaN,-31.913433,115.936477,...,False,True,False,False,NaN,True,True,True,False,False